NEXT_PUBLIC_SUPABASE_URL=https://zsjsqxextzbzmbjplkvb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpzanNxeGV4dHpiem1ianBsa3ZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI3NjAwMTUsImV4cCI6MjA3ODMzNjAxNX0.yQIrVhbnui0OVNA6ZnunBHYnNqj8RqT6ff1S0uN5fQY
NEXT_PUBLIC_SITE_URL=http://localhost:3000
