# Dependencies
node_modules

# Next.js
.next
out
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tsconfig.tsbuildinfo

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example

# Supabase
.supabase

# Mac/OS files
.DS_Store
